[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw
	ignore = dirty
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm
	ignore = dirty
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
	ignore = dirty
[submodule "External/glslang"]
	path = External/glslang
	url = https://github.com/KhronosGroup/glslang
	ignore = dirty
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb
	ignore = dirty
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
	ignore = dirty
[submodule "External/tinygltf"]
	path = External/tinygltf
	url = https://github.com/syoyo/tinygltf
	ignore = dirty
[submodule "External/portable-file-dialogs"]
	path = External/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
[submodule "External/tetgen"]
	path = External/tetgen
	url = https://github.com/ufz/tetgen
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt
[submodule "External/easy_profiler"]
	path = External/easy_profiler
	url = https://github.com/yse/easy_profiler
[submodule "External/SPIRV-Reflect"]
	path = External/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "External/cpp-json"]
	path = External/cpp-json
	url = git@github.com:jake-stewart/cpp-json.git
